.container {
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
}

.post-meta-info {
  text-align: center;
  margin: 2rem;
  h1 {
    font-size: 3.4rem;
  }
  h1::first-letter {
    text-transform: capitalize;
  }
  h5 {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.blog-post-body {
  line-height: 1.2;
  font-size: 1.5rem;
  font-family: "Lato Regular";
  border-bottom: 1px solid #777777;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.about-author {
  max-width: 32rem;
  margin-left: 2rem;
  display: flex;
  padding: 1rem 1rem 4rem 1rem;

  img {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    margin-right: 2rem;
  }

  .author-info {
    span {
      color: #2355ab;
      font-size: 1.6rem;
    }
    h3 {
      font-size: 2.2rem;
      margin-bottom: 0.5rem;
    }
    .description {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .post-meta-info {
    margin: 0;
    padding: .5rem;
    width: 100%;
    h1 {
      font-size: 2.4rem;
    }
    h5 {
      font-size: 1.1rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .blog-post-body {
    line-height: 1;
    font-size: 1.3rem;
  }

  .about-author {
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 1rem 1rem 3rem 1rem;

    img {
      margin-right: 1rem;
    }

    .author-info {
      span {
        color: #2355ab;
        font-size: 1rem;
      }
      h3 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
      }
      .description {
        font-size: 1rem;
      }
    }
  }
}
