.about-section {
  text-align: center;
  padding: 4rem;
  margin-bottom: 5rem;
}

.about-section h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about-section h5 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #666;
}

.team-section {
  text-align: center;
  padding: 2rem 6rem 8rem 8rem;
}

.team-section h2 {
  font-size: 2.8rem;
}
.team-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  padding-top: 4rem;
}

.team-member {
  padding: 2rem;
  max-width: 270px;
  margin: 0 auto;
  border: 1px solid rgb(41, 87, 164);
}

.team-img {
  width: 164px;
  height: 164px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}

.team-shape {
  position: relative;
  overflow: hidden;
}

.team-socials {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  font-size: 1.7;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden; //used here to fix shaky movement of the text;
}

.team-shape:hover .team-socials {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.team-shape:hover .team-img {
  transform: translateX(-0.5rem) scale(1);
  filter: blur(3px) brightness(80%);
}
.team-member h3 {
  font-size: 1.8rem;
}

.team-member h6 {
  font-size: 1.8rem;
  font-weight: lighter;
}
.ln-color,
.tw-color {
  font-size: 1.6rem;
  padding: 0.6rem;
}

.ln-color {
  color: #ffffff;
  //   color: #0081f3;
}

.tw-color {
  color: #1da1f2;
}

@media only screen and (max-width: 600px) {
  .about-section {
    padding: 4rem 2rem 4rem 2rem;
  }

  .about-section h5 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #666;
  }

  .team-member {
    padding: 2rem;
    margin: 0 auto;
  }
  .team-section {
    padding: 2rem 3rem 8rem 3rem;
  }
}
