
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // background: rgb(41, 87, 164);
}
.main-section {
  max-width: 60rem;
  height: 76vh;
  margin-bottom: 0;
  margin-left: 2rem;
  background-size: contain;
}

.header-text {
  font-size: 3.8rem;
  padding: 8rem 0 0 5rem;
  margin-top: 5rem;
  color: #ffffff;
}
