.container {
  text-align: center;
}

.blog-header h1 {
  font-size: 3.5rem;
  animation: moveInRight 1s ease-in-out 0s;
}
.blog-posts-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1.6rem;
}

.blogPost {
  max-width: 35rem;
  padding: 2rem;
  transition: transform 0.3s;
  animation: moveInBottom 1s ease-out 0s;

  h2 {
    color: #000000;
  }

  h2::first-letter {
    text-transform: uppercase;
    font-size: 2rem;
  }

  p {
    font-size: 1.4rem;
    color: #777777;
  }
  a {
    text-decoration: none;
  }

  span {
    font-size: 1.1rem;
    color: #333333;
  }
}

.blogPost:hover {
  transform: translateY(-1.1rem) scale(1.01);
  background-color: #eeeeee;
}

@media only screen and (max-width: 600px) {
  .blogPost {
    margin: 0 auto;
  }

  .blog-header h1 {
    font-size: 2rem;
    padding: 1rem;
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  60% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
