$color-black: #1f1f1f;

.contact-details {
  margin: 3rem auto 3rem auto;
  width: 25rem;
  max-height: 45rem;
  background: #fff;
  box-shadow: 0 2rem 3rem rgba($color-black, 0.8);
  border-radius: 2px;
  color: $color-black;
}

.contact-header {
  padding-top: 2rem;
  text-align: center;
}
.contact-social ul {
  display: flex;
  justify-content: center;
}

.contact-social ul li {
  list-style-type: none;
  font-size: 1.8rem;
  padding: 0.8rem;
}
.contact-info {
  padding-bottom: 2rem;
}
.contact-info ul li {
  list-style-type: none;
  padding: 1rem;
  font-size: 1.3rem;
  & a {
    color: $color-black;
    text-decoration: none;
  }

  & span {
    padding-right: 1rem;
    position: relative;
    font-size: 2.2rem;
    float: left;
  }
}

// @media only screen and (max-width) {
//   .contact-details {
//     margin: 10rem auto 3rem auto;
//   }
// }