.logo {
  height: 70px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-list {
  list-style-type: none;
  display: flex;
  margin-right: 2rem;
}

.nav-item {
  font-size: 1.6rem;
  font-weight: bold;
  // text-transform: uppercase;
  margin-right: 1.5rem;
  text-decoration: none;
  color: #666;
  padding: 0.6rem 1rem;
}

.nav-item:hover::after {
  content: "";
  display: block;
  margin: 0 0 0 1rem;
  width: 45%;
  padding-top: 1rem;
  border-bottom: 2px solid #2957a4;
}

.active-nav-item::after {
  content: "";
  display: block;
  margin: 0 0 0 1rem;
  width: 45%;
  padding-top: 1rem;
  border-bottom: 2px solid #2957a4;
  // border-bottom: 2px solid #2957a4;
}
