.container {
  // margin: 0rem auto;
  // max-width: 120rem;
  height: 100vh;
  padding: 1rem;
  background: linear-gradient(rgba(41, 87, 164, 0.6), rgba(44, 89, 167, 0.3)),
    url(../images/team-strategize.jpg) no-repeat fixed;
  background-size: cover;
  // background-color: red;
}
